<html>

<head>
    <title>Page Title</title>
    <link href="/assets/style.css" type="text/css" rel="stylesheet">
</head>

<body>
    <form method="GET">
        <br>
        <a href="http://localhost:3000/search">Buscar</a> 
        <br>
        <a href="http://localhost:3000/insert">Insertar</a>
        <br>
        <a href="http://localhost:3000/table">Datos Tabla</a>
    </form>
    <br>    
</body>

</html>
